.customers-table {
  width: 100%;
  text-align: center;
}

.customers-table th {
  background-color: #9999ff;
  color: black;
  font-weight: normal;
}

.customers-table td,
.customers-table th {
  border: 1px solid #ccc;
  padding: 5px;
}
